@using Microsoft.AspNetCore.Http
@using System.Security.Claims

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Claims.FirstOrDefault(c => c.Type == "name")?.Value!</a>
            <a  href="LogoutIDP">Logout</a>
    </Authorized>
    <NotAuthorized>
        <NotAuthorized>
                <a href="" Match="NavLinkMatch.All">Home</a>
                <a href="LoginIDP">Login</a>
                <a  href="http://localhost:5005/identity/account/register">Register</a>
        </NotAuthorized>
    </NotAuthorized>
</AuthorizeView>
